.hero, footer {
    background-color: #1F2937;
}
.hero h1 {
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;
}
.hero p, .hero input {
    font-size:18px;
    color:#E5E7EB;
}
header h1 {
    font-size:24px;
    color:#F9FAF8;
}
input {
    color:#3882F6;
}
#Cart {
    background-color:#3882F6;
}
.coffee-quote {
    background-color:#E5E7EB;
}
#Informations h1 {
    font-size:36px;
    font-weight:bolder;
    color:#1F2937;
}
.coffee-quote.quote {
    font-size:36px;
    font-style:italic;
    color:#1F2937;

}

