*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size:62.5%;
    scroll-behavior: smooth;
}

:root {
    --color-primary:#D4A373;
    --color-secondary:#FAEDCD;
    --color-text-primary:black;
    --color-button: #ffa14a;
}

body {
    background-color: var(--color-secondary);
    line-height: 1.5;
}

/* Style Titles */
h1 {
    font-size:3rem;
    color:var(--color-text-primary);
    font-weight:lighter;
    text-align:left;
    padding:0 2rem;
}

/* Style Paragraphs */

p, figcaption {
    font-size:1.5rem;
    text-align:left;
    margin:.8em auto;
    padding:0 1em;
}
/* Style quote */
.quote::before {
        content: '"';
        font-size: 2em;
        color: var(--color-button);
      }
.quote::after {
        content: '"';
        font-size: 2em;
        color:var(--color-button);
      }
.quote {
        display:block;
        margin:0 auto;
        padding:0 1.5em;
        font-size: 2em;
        line-height: 1.6;
        text-align: center;
}

.coffee-quote > p {
    font-style:italic;
    text-align:right;
}

/*navbar */
ul {
    display:flex;
    padding:2rem;
    gap:2rem;
    justify-content:center;
    flex:0 0 5vw;

}
li{
    list-style-type:none;
    font-size:1.5em;
}
.nav-links {
    color:var(--color-text-primary);
    text-decoration:none;
}
.nav-links:hover {
    color:var(--color-secondary);
}
/* Header section : */
header { 
    background-color:var(--color-primary);
    margin-bottom:2rem;
    border-radius: 0 0 5rem 5rem;
}

 header h1 {
    color:var(--color-secondary);
    font-size:2.5em;
    padding:0 1rem;
    text-align:left;
}
 /* Button Section :  */
.btn-container .btn {
background-color:var(--color-primary);
}

 .btn-container .btn:hover{
    background-color:var(--color-button);
}

.btn {
    color:var(--color-text-primary);
    font-size:1.5em;
    padding:1em 2em;
    border:none;
    cursor:pointer;
    border-radius:5px;
    margin:2em;
}

/* Coffee Icon */
.fa-coffee { 
    color:var(--color-secondary);
    font-size:3rem;
    position:absolute;
    top:0.25em;
    left:4em;
}

.fa-coffee::after{
    content:'';
    display:block;
    clear:both;
}

/* image section */
figure img {
    max-width:100%;
    display:block;
    object-fit:cover;
}




footer {
    font-size:2em;
    font-weight:200;
    text-align: center;
    border-radius: 5rem 5rem 0 0;
    background-color:var(--color-primary);
    color:var(--color-text-primary);
}


