*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size:62.5%;
}

:root {
    --color-primary:#D4A373;
    --color-secondary:#FAEDCD;
    --color-text-primary:black;
    --color-button:#E5C7AB;
}

body {
    background-color: var(--color-secondary);
}

/* Style Titles */
h1 {
    font-size:3rem;
    color:var(--color-text-primary);
    font-weight:lighter;
    text-align:left;
    padding:0 2rem;
}

/* Style Paragraphs */

p, figcaption {
    font-size:1.5rem;
    text-align:left;
    margin:.8em;
    font-style: italic;
    padding:1em;
}
/* Style quote */
.quote::before {
        content: open-quote;
        font-size: 2.5em;
        color: orange;
      }
.quote::after {
        content: close-quote;
        font-size: 2.5em;
        color: orange;
      }
.quote {
        padding:2em;
        margin:.8em;
        font-size: 2em;
        text-align: center;
        

      }
      .coffee-quote > p {
        text-align: center;
        font-size: 1.5em;
        font-style: italic;
        margin-left: auto;
        margin-right: -30%;
      }
      

/*navbar */
ul {
    display:flex;
    padding:2rem;
    gap:2rem;
    justify-content:center;
    flex:0 0 5vw;

}
li{
    list-style-type:none;
    font-size:1.5em;
}
.nav-links {
    color:var(--color-text-primary);
    text-decoration:none;
}
.nav-links:hover {
    color:var(--color-secondary);
}
/* Header section : */
header { 
    background-color:var(--color-primary);
    margin:2rem;
}

header h1 {
    color:var(--color-secondary);
    font-size:5em;
    font-weight:bolder;
    text-align: center;
}
 /* Button Section :  */
.btn-container .btn {
background-color:var(--color-primary);
}

 .btn-container .btn:hover{
    background-color:var(--color-button);
}

.btn {
    color:var(--color-text-primary);
    font-size:1.5em;
    padding:1em 2em;
    border:none;
    cursor:pointer;
    border-radius:5px;
    margin:2em;
}

/* Coffee Icon */
.fa-coffee { 
    color:var(--color-secondary);
    font-size:3rem;
    position:absolute;
    top:5%;
    left:80%;
}

.fa-coffee::after{
    content:'';
    display:block;
    clear:both;
}


figure img {
    width:100px;
    height:100px;
    float:right;
}




footer {
    font-size:2em;
    font-weight:200;
    padding:2em;
    text-align: center;
    background-color:var(--color-primary);
    color:var(--color-text-primary);
}


